body {
	font-size:13px;
	font-family: Papyrus,
             fantasy;
}

body.allowed {
	background: url('../img/partycube.gif');
}

a.stop {
	background: #00ff00;
	font-size: 60px;
	width: 400px;
	text-align:center;
	font-weight: bold;
	display: block;
	clear:both;
}

a.sound {
	float: left;
	width: 200px;
	padding: 10px 0;
	margin: 10px;
	display: block;
	text-align: center;	
	background: #ff0000;
	text-decoration: none;
}

a:active, a:hover, a {
	color: #fff;
}

form {
	margin: 20px;
}

.bear-mode {
	text-align: center;
	background: #000;
	color: #fff;
}

.bear-mode h1 {
	font-size: 48pt;
	color: #ff0000;
	font-weight: bold;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
